body {
     background-image: url("tile.jpg");
}

table {
     width: 70%;
     border: 2px solid black;
     border-collapse: collapse;
     background-color: #D6EAF8;
     
     letter-spacing: .25px;
     line-height: 1.5;
     font-family: "Verdana";
     font-size: 15px;
     color: #555555;
}

table, th, td {
     border: 1px solid black;
}


h1, h2, h3 {
     color: #A569BD;
}


th {
    color: #A569BD;
    font-size: 200%;
}

#tab { 
    width: 70%;
    border: 2px solid black;
}

#smalltext{
  font-size:10px;
}

#bullets li {
    list-style-type: none;
    margin: 50px 0px;
  
    border-bottom: 1px solid black;
    border-top: 1px solid black; 
    border-top-color: rgb(201, 207, 216);
    border-bottom-color: rgb(201, 207, 216);

}


a:link,a:visited, a:hover, a:active {
    text-decoration: none;
    color: blue;

}
/* styling for search box */
input[type=search], select {
    width: 90%;
    padding: 12px 20px;
    margin: 0px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*styling for the form */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submitStyle {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset] {
    width: 100%;
    background-color: #E74C3C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea, select{

    width: 100%;
    height: 150px;
    /*text-align: none;*/
    padding: 8px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset]:hover {
    background-color: #CB4335;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/*form end*/


.css{
    margin:auto;
}

.csssize{
    width:250px;
    height: 500px;
    vertical-align: top;
}

.csstext{
    /*height: 10%;*/
    text-align: center;
    
}

/*Andy's sandbox*/




img{
    display:block;
    margin:auto;
    width:600px;
    height:400px;
}



@media (min-width: 830px){ 

}

@media (max-width: 830px){
   img{
        width: 200px;
        height: 133px;
   }
}


@media (max-width: 480px){
    img{
        display:none;
    }
}



.hidden{
    display:none;
}

